extends layout

block content

	.container
		.sticky
			h1.heading Infinite Agenda
			p Scroll down for an infinite number of dates.
			p Click a date to add a new agenda item.
			p After you add an item, you can edit it by clicking it.
		.defaultWeek
			<!-- This is where the default 7 days appear -->
