doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Infinite Agenda
		link(rel="stylesheet" href="/scripts/main.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css' rel='stylesheet')
		link(href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet')

	body
		block content

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js")
	script(src="//momentjs.com/downloads/moment.js")
	script(src="/scripts/main.js")
		