p {
	margin:0px auto;
	font-family: 'Karla', sans-serif;
	font-size: 1.1em;
}

textarea {
	max-width: 400px;
	display: block;
	font-family: 'Karla', sans-serif;
}

button {
	display: block;
	margin: auto;
}

.heading {
	text-align: center;
	font: 2em 'Karla', sans-serif;
	font-weight: 600;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.center {
	display: block;
	margin: 0 auto;
}

/*This is for the sticky header, which is opaque */
.sticky {
	background: #fff;
	position: fixed;
	margin: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	padding-bottom: 20px;
	opacity: .7;
}

.defaultWeek {
padding-top:110px;
display: block;
}

/* Format each day div in the agenda */
.day {
	margin:40px auto;
	text-align: center;
	color: purple;
	font-size: 50px;
	font-family: 'Karla', sans-serif;
}

.item {
	display: block;
	font-family: 'Karla', sans-serif;
}

.enteredTime, .enteredAppt {
	display: inline;
}

